[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
flask = "*"
janome = "*"
japanize-matplotlib = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]
yapf = "*"
ptpython = "*"
ptipython = "*"

[requires]
python_version = "3.9"
