[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
matplotlib = "*"
japanize-matplotlib = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
asari = {git = "https://github.com/Hironsan/asari"}
scikit-learn = "==0.23"
gunicorn = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python run.py"
