.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
    text-align: left;
}
.home-menu ul {
    float: right;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6fbef3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #aecfe5;
}

.button-warning {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
    background-color: rgb(223,117,20);
}

.balloon-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555555;
    background: #ffffff;
    border: solid 3px #555555;
    box-sizing: border-box;
}

.balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #ffffff;
    z-index: 2;
}

.balloon-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #555555;
    z-index: 1;
}

.balloon-left p {
    margin: 0;
    padding: 0;
}
