{%- extends "tpl.html" %}
{%- block content %}

<h2 class="balloon-left">{{name}}班の分析結果</h2>

{% for sublist in imgnames %}
<div class="pure-g">
    {% for img in sublist %}
    <div class="pure-u-1-2">
        <img src="{{img}}" alt="chart-img" class="pure-img">
    </div>
    {% endfor %}
</div>
{% endfor %}

<!-- {% for title in titles %}
<canvas id="chart{title.index}"></canvas>
{% endfor %} -->

<h2 class="balloon-left">メッセージ</h2>

<h3 class="">positive</h3>
<ul>
    {% for positive in positives %}
    <li>{{positive}}</li>
    {% endfor %}
</ul>

<h3>negative</h3>
<ul>
    {% for negative in negatives %}
    <li>{{negative}}</li>
    {% endfor %}
</ul>


<!-- <script type="text/javascript">
</script> -->
{%- endblock %}